<div ng-if="listItems.length > 0">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">NAME</th>
            <th scope="col">SHORT NAME</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in listItems">
            <td>{{item.name}}</td>
            <td>{{item.short_name}}</td>
            <td>{{item.description}}</td>
            <td><button ng-click="onRemove({index: $index})" class="btn btn-danger btn-block">Don't want this one!</button></td>
          </tr>
        </tbody>
      </table>
</div>

<table class="table" ng-if="listItems.length <= 0">
    <thead>
        <th class="bg-danger text-danger" role="alert">Nothing found</th>
    </thead>
  </table>